.y-axis line {
    opacity: .2;
}

.y-axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 1.5px;
    opacity: .75;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.lineHoverText {
    font-size: 15px;
    /*text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;*/
}

.lineHoverDate {
    fill: white;
}

.hoverCircle {
    opacity: .75;
}

.myText {
    fill: white;
    /*text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;*/
    font-size: 20px;
    text-anchor: right;
    margin: auto;
}

.selections {
    padding: 10 10 10 10;
}