#embeddings {
    --redit-color: #FF4500;
    --transition-duration: 200ms;
}

.embedding-node {
    fill: var(--redit-color);
    fill-opacity: 33%;
    transition: fill-opacity var(--transition-duration);
}

.embedding-node:hover {
    fill-opacity: 100%;
    transition: fill-opacity var(--transition-duration);
}