html, body {
  height: 100%;
  margin: 0;
 /* background-color: #DAE0E6;*/
 background-color: #101010;
 font-family: "Bahnschrift";
 color: white;
 /*font-weight: bold;*/
}
.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box {
    margin: 20px;
    height: 800px;
    width: 1000px;
    background-color: #282828;
    opacity: 1.0;
    border-radius: 20px;
}

.comment {
    background-color: #E6E6FA;
    opacity: 0.75;
    width: 65%;
    margin: auto;
    border-radius: 5px;
}