body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #DAE0E6;
  justify-content: center;
}

#visualization-grid {
  height: 95%;
  width: 95%;
  margin: auto;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "barchart embeddings"
    "activity comments";
  grid-gap: 30px;
}

.visualization-view {
  background-color: white;

  border-radius: 20px;
  justify-self: stretch;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#view-slider-barchart {
  grid-area: barchart;
}

#view-embeddings {
  grid-area: embeddings;
}

#view-activity {
  grid-area: activity;
}

#view-comments {
  grid-area: comments;
}