body {
  margin: 0;
  padding: 0;
  justify-content: center;

  background-color: #101010;
  font-family: "Bahnschrift";
}


#visualization-grid {
  width: 95%;
  margin: auto;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "barchart embeddings"
    "activity comments";
  grid-gap: 30px;
}

.visualization-view {
  background-color: #202020;

  border-radius: 20px;
  justify-self: stretch;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#view-slider-barchart {
  grid-area: barchart;
}

#view-embeddings {
  grid-area: embeddings;
}

#view-activity {
  grid-area: activity;
}

#view-comments {
  grid-area: comments;
}


.box {
  margin: 20px;
  height: 800px;
  width: 1000px;
  background-color: #282828;
  opacity: 1.0;
  border-radius: 20px;
}

.comment {
  background-color: #E6E6FA;
  opacity: 0.75;
  width: 65%;
  margin: auto;
  border-radius: 5px;
}