<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- D3 package -->
	<script src="https://d3js.org/d3.v5.min.js"></script>

	<style>
		p, .txt {  text-align: justify;
  			 text-justify: inter-word;
  			}
	</style>
</head>
<body>
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap navbar-expand-md" id="navbar-top">
		<a class="navbar-brand col-1" id="title" href="#">Information Visualization 2020</a>
	</nav>
	<main role="main" class="flex-shrink-0">
		<div class="tooltip" id="tooltip"></div>
		<div class="container-flui col-lg-8 offset-lg-2" id="main-content-container">
			{% block body %}
			{% endblock %}
		</div>
	</main>
</body>
</html>