{% extends "base.html" %}

{% block title %}Infovis{% endblock %}
{% block body %}
<script type="text/javascript">
    d3.selectAll(".nav-item").classed("active", false);
    d3.select("#nav-link-home").classed("active", true);
</script>

<link rel="stylesheet" type="text/css" href="../static/css/main.css">

<div id="visualization-grid">
    <!-- Slider and Barchart -->
    <div class="visualization-view" id="view-slider-barchart">
        <h2> Positive/negative post sentiment % </h2>
        <div class="bar">
            <svg id="barchart" width="800" height="400"></svg>
        </div>
        <div class="mt-3 bar" id="timeslider">
            <button id="play-button">Play</button>
        </div>
    </div>

    <!-- Chords test -->
    <!--div class="chords">
    <style>
        #chart {
            font: 10px sans-serif;
        }

        .chord path {
            fill-opacity: .67;
            stroke: #000;
            stroke-width: .5px;
        }

        #circle circle {
            fill: none;
            pointer-events: all;
        }

        #circle:hover path.fade {
            display: none;
        }

        #control {
            position: fixed;
            left: 20px;
            top: 20px;
        }
        </style>
    </head>
    <body>
        <div id="control">
        <label>Show flows for </label><label id="month" name="month">07</label>, <label id="year" name="year">2013</label>:
        <form>
        <input id="slider" type="range" name="slider" min="0" max="5" value="0" step="1"/>
        </form>
        </div>
        <div id="chart"></div>
        <script type="text/javascript" src="../static/js/chord.js"></script>
    </body>
</div-->

    <!-- Emmbeddings -->
    <div class="visualization-view" id="view-embeddings">
        <h2> Subreddit embeddings </h2>
        <div id="embeddings"></div>
    </div>

    <div id="embeddings-tooltip">
        <div>
            <img id="embeddings-tooltip-thumbnail"
                src="https://styles.redditmedia.com/t5_6/styles/communityIcon_a8uzjit9bwr21.png" width=32 height=32>
            <span id="embeddings-tooltip-title"></span>
        </div>
        <div id="embeddings-tooltip-description"></div>
    </div>

    <link rel="stylesheet" type="text/css" href="../static/css/embeddings.css">
    <script type="text/javascript" src="../static/js/embeddings-tooltip.js"></script>
    <script type="text/javascript" src="../static/js/embeddings.js"></script>

    <!-- Activity timeline -->
    <div class="visualization-view" id="view-activity">
        <h2> Activity Timeline </h2>
        <div class="timeline">
            <svg id="activity" width="800" height="400"></svg>
        </div>
        <div class="selections">
            <font>Direction of Hyperlinks: </font>
            <select id="selectbox">
                <option value="_source">Outgoing</option>
                <option value="_target">Incoming</option>
            </select>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="../static/css/activity.css">

    <!-- Comments -->
    <div class="visualization-view" id="view-comments">
        <h2> Sample post </h2>
        <div class="comment">
            <blockquote class="reddit-card" data-card-created="1582734801">
                <a id="post"
                    href="https://www.reddit.com/r/conspiracy/comments/34wxgc/come_look_at_all_the_brainwashed_idiots_in/">
                    Come look at all the brainwashed idiots in r/Documentaries</a> from
                <a href="http://www.reddit.com/r/conspiracy">r/conspiracy</a>
            </blockquote>
            <script type="text/javascript" src="../static/js/postsample.js"></script>
        </div>

    </div>

    <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
</div>

{% endblock %}