{% extends "base.html" %}

{% block title %}Infovis{% endblock %}
{% block body %}
<script type="text/javascript">
    d3.selectAll(".nav-item").classed("active", false);
    d3.select("#nav-link-home").classed("active", true);
</script>

<h1 class="mt-3">Reddit Hyperlinks and Embeddings</h1>

<!-- Example of Reddit Card. Here I want to sample from our set to display an example. Wolf -->
<blockquote class="reddit-card" data-card-created="1582734801"><a
    href="https://www.reddit.com/r/conspiracy/comments/34wxgc/come_look_at_all_the_brainwashed_idiots_in/">Come look at
    all the brainwashed idiots in r/Documentaries</a> from <a href="http://www.reddit.com/r/conspiracy">r/conspiracy</a>
</blockquote>
<script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>

<div class="mt-3" id="barchart">
    <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            // verify our websocket connection is established
            socket.on('connect', function () {
                console.log('Websocket connected!');
            });

             var fetch_url = '/top/2017/02';
             fetch(fetch_url)
                 .then(function (response) {
                     return response.json();
                 })
                 .then((data) => {
                     var margin = {
                        top: 15,
                        right: 100,
                        bottom: 15,
                        left: 150
                    };

                     // Create width and height
                     var width =  2*960 - margin.left - margin.right + 200,
                         height = 500 - margin.top - margin.bottom;


                     var spread = 40;
                     // Create svg
                     var svg = d3.select("body").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                     // X will be a linear scale from 0 to max
                     var xLeft = d3.scaleLinear()
                        .range([0, width/2 - spread])
                        .domain([0, d3.max(data.hated, function (d) {
                            return d.count;
                        })]);

                      var xRight = d3.scaleLinear()
                        .range([0, width/2 - spread])
                        .domain([0, d3.max(data.loved, function (d) {
                            return d.count;
                        })]);

                     // Y will be an ordinal scale with the names
                     var yLeft = d3.scaleBand()
                         .rangeRound([height, 0])
                         .padding(0.1)
                         .domain(data.hated.map(function (d) {
                            return d.name;
                         }));

                     var yRight = d3.scaleBand()
                         .rangeRound([height, 0])
                         .padding(0.1)
                         .domain(data.loved.map(function (d) {
                            return d.name;
                         }));

                     var yAxisLeft = d3.axisLeft(yLeft)
                        .scale(yLeft)
                        .tickSize(0);

                     var yAxisRight = d3.axisRight(yRight)
                        .scale(yRight)
                        .tickSize(0);

                     var gy = svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxisLeft);

                     var gy = svg.append("g")
                        .attr("class", "y axis")
                        .attr("transform", "translate(" + width  +", 0)")
                        .call(yAxisRight);

                     var barsLeft = svg.selectAll(".bar")
                        .data(data.hated)
                        .enter()
                        .append("g");


                     var barsRight = svg.selectAll(".bar")
                        .data(data.loved)
                        .enter()
                        .append("g");

                     console.log('appending bars');

                     // Append bars
                     barsLeft.append("rect")
                        .attr("class", "bar")
                        .attr("y", function (d) {
                            return yLeft(d.name);
                        })
                        .attr("height", yLeft.bandwidth())
                        .attr("x", 0)
                        .attr("width", function (d) {
                            return xLeft(d.count);
                        });

                     //add a value label to the right of each bar
                    barsLeft.append("text")
                        .attr("class", "label")
                        //y position of the label is halfway down the bar
                        .attr("y", function (d) {
                            return yLeft(d.name) + yLeft.bandwidth() / 2 + 4;
                        })
                        //x position is 3 pixels to the right of the bar
                        .attr("x", function (d) {
                            return xLeft(d.count) + 3;
                        })
                        .text(function (d) {
                            return d.count;
                        });

                     barsRight.append("rect")
                        .attr("class", "bargood")
                        .attr("y", function (d) {
                            return yRight(d.name);
                        })
                        .attr("height", yRight.bandwidth())
                        .attr("x", function (d) {
                            return width - xRight(d.count);
                        })
                        .attr("width", function (d) {
                            return xRight(d.count);
                        });

                     //add a value label to the right of each bar
                    barsRight.append("text")
                        .attr("class", "label")
                        //y position of the label is halfway down the bar
                        .attr("y", function (d) {
                            return yRight(d.name) + yRight.bandwidth() / 2 + 4;
                        })
                        //x position is 3 pixels to the right of the bar
                        .attr("x", function (d) {
                            return width - xRight(d.count) - 40;
                        })
                        .text(function (d) {
                            return d.count;
                        });

                    console.log("end");

                 });

    </script>
</div>

<!-- Example -->
{# <script type="text/javascript">
        var data = {{ data | safe
    }};
    var selected_area = {{ selected_area_name | tojson }};
</script> #}

<!-- Emmbeddings -->
<div id="embeddings-tooltip"></div>
<div class="mt-3" id="embeddings"></div>

<link rel="stylesheet" type="text/css" href="../static/css/embeddings.css">

<script type="text/javascript" src="../static/js/embeddings-tooltip.js"></script>
<script type="text/javascript" src="../static/js/embeddings.js"></script>

{% endblock %}