{% extends "base.html" %}

{% block title %}Infovis{% endblock %}
{% block body %}
<script type="text/javascript">
    d3.selectAll(".nav-item").classed("active", false);
    d3.select("#nav-link-home").classed("active", true);
</script>

<link rel="stylesheet" type="text/css" href="../static/css/main.css">

<div id="visualization-grid">
    <!-- Slider and Barchart -->
    <div class="visualization-view" id="view-slider-barchart">
        <div style="clear: both">
            <h2 class="view_title" style="float: left; width:50%;"> Attackers</h2>
            <h2 class="view_title" style="float: right; width:50%;"> Victims</h2>
        </div>
        <!--<hr />-->
        <div class="bar">
            <svg id="barchart" width="800" height="400"></svg>
        </div>
        <div class="bar" id="timeslider" >
            <button id="play-button" style="float: left; margin-left: 39%">Play</button>
        </div>
    </div>

    <link rel="stylesheet" href="../static/css/timeslider.css">
    <script type="text/javascript" src="../static/js/activity.js"></script>
    <script type="text/javascript" src="../static/js/barchart.js" charset="utf-8"></script>

    <!-- Emmbeddings -->
    <div class="visualization-view" id="view-embeddings">
        <h2 class="view_title"> Subreddit embeddings </h2>
        <div id="embeddings"></div>
    </div>

    <div id="embeddings-tooltip">
        <div>
            <img id="embeddings-tooltip-thumbnail"
                src="https://styles.redditmedia.com/t5_6/styles/communityIcon_a8uzjit9bwr21.png" width=32 height=32>
            <span id="embeddings-tooltip-title"></span>
        </div>
        <div id="embeddings-tooltip-description"></div>
    </div>

    <link rel="stylesheet" type="text/css" href="../static/css/embeddings.css">
    <script type="text/javascript" src="../static/js/embeddings-tooltip.js"></script>
    <script type="text/javascript" src="../static/js/embeddings.js"></script>

    <!-- Activity timeline -->
    <div class="visualization-view" id="view-activity">
            <h2 class="view_title"> Activity Timeline </h2>
            <span class="tip"> Click on one of the bars above to view a subreddit's timeline </span>
        <div class="timeline">
            <svg id="activity" width="900" height="500"></svg>
        <div class="selections">
            <font>Direction of Hyperlinks: </font>
            <select id="selectbox">
                <option value="_source">Outgoing</option>
                <option value="_target">Incoming</option>
            </select>
        </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="../static/css/activity.css">

    <!-- Comments -->
    <div class="visualization-view" id="view-comments">
            <h2 class="view_title"> Sampled posts </h2>
            <span class="tip"> Click somewhere in the timeline to the left to see sample posts from that month </span>
        <div id="comment_box">
            <script type="text/javascript" src="../static/js/postsample.js"></script>
        </div>
    </div>

    <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
</div>

{% endblock %}